* {
  margin: 0;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  background: #069A15;
  border-radius: 90px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: 14px;
}

.card_red {
  background: #BA0606;
}

.card__title {
  position: relative;
  top: 8px;
  transform: rotate(-4.8deg);
  font-size: 19px;
  line-height: 22px;
  color: #FFFFFF;
}

.card__img {
  position: relative;
  z-index: 1;
}

.card__btn {
  position: relative;
  bottom: 8px;
  width: 96px;
  height: 19px;
  background: rgba(255, 245, 0, 0.9);
  border-radius: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  box-sizing: border-box;
  z-index: 1000;
  border: none;
  outline: none;
  cursor: pointer;
}
