* {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1175px;
  height: 1308px;
  background: #000000;
  border-radius: 20px;
}

.counter {
  width: 305px;
  height: 152px;
  font-size: 130px;
  line-height: 152px;
  color: #FFFFFF;
}

h1 {
  width: 411px;
  height: 49px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  color: #FFFFFF;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 760px;
  width: 760px;
}
